name: Build Android APK
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build App
        run: npm run build

      - name: Build APK
        run: |
          npm install @capacitor/cli @capacitor/core @capacitor/android
          rm -rf android
          npx cap add android
          npx cap sync
          cd android
          # Usamos JAVA_HOME directamente que ya apunta a Java 21
          ./gradlew assembleDebug
          
      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
